@import 'src/shared/styles/shared';

.TabButton {
  border-radius: $baseBorderRadius * 2 $baseBorderRadius * 2 0 0;
  position: relative;
  padding: $baseSpacing * 3;
  border-color: $gray-1;
  background: $gray-2;
  font-size: 20px;
  &:not(:disabled) {
    cursor: pointer;
  }
}

.TabButton__Count {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 0.55em;
}

.TabButton--Selected {
  border-bottom: none;
  border-color: $black-1;
}
