.ContactList {
  padding: 24px;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  * > {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
}
.ContactList__Tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  button {
    flex: 1 auto;
  }
}
.ContactList__List {
  display: grid;
  grid-template-columns: 50% 50%;

  grid-gap: 16px;
  background: #80808040;
  border-radius: 0 0 10px 10px;
  padding: 24px 32px;

  @media screen and (max-width: 959px) {
    grid-template-columns: auto;
  }
}

.ContactList__ListItem {
  border-bottom: 1px dotted black;
  padding: 8px 16px;
  cursor: pointer;
  > div span {
    text-transform: uppercase;
  }
}
