@import 'src/shared/styles/shared';

.ContactList__Card {
  position: relative;
  cursor: initial;
  padding: $baseSpacing * 3 45px $baseSpacing * 3 $baseSpacing * 3;
  margin: $baseSpacing 0;
  display: flex;
  border: 1px solid gray;
  border-radius: $baseBorderRadius;
  flex-wrap: wrap;
  img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: $baseSpacing * 3;
  }
  h4 {
    color: gray;
    font-size: 1.2em;
    margin-top: 0;
    span {
      text-transform: uppercase;
    }
  }
  p {
    display: grid;
    grid-template-columns: 40% auto;

    @media screen and (max-width: $desktopBreakPoint) {
      grid-template-columns: auto;
      grid-gap: $baseSpacing;
    }
    span {
      font-weight: bold;
    }
  }
}

.ContactList__CloseButton {
  position: absolute;
  background: none;
  border: none;
  left: $baseSpacing;
  top: $baseSpacing;
  font-size: 1.5em;
  color: gray;
  cursor: pointer;
}

.ContactList__Username {
  position: absolute;
  top: -$baseSpacing;
  right: $baseSpacing;
  background: red;
  height: 90%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  align-items: center;
  color: white;
  padding: $baseSpacing;
  border-radius: $baseBorderRadius;
}
